.container {
	width: 800px;
}

.header {
	width: 100%;
	height: 100px;
	background: aquamarine;
}

.left-menu {
	/*    float:left;*/
	display: inline-block;
	width: 20%;
	height: 400px;
	background: cornflowerblue;
}

.right {
	/*    float:left;*/
	display: inline-block;
	width: 80%;
	height: 400px;
	background: coral;
}

.footer {
	/*    clear: both;*/
	width: 100%;
	height: 100px;
	background: grey;
}

.blog-content {
	float: left;
	width: 80%;
	height: 200px;
	background: #eee;

}

.blog-img {
	float: left;
	width: 20%;
	height: 200px;
	background: yellow;
}

.blog-name {
	float: left;
}

.blog-profile {
	width: 50px;
	float: left;
}

h4 {
	margin: 8px;
}

p {
	margin: 8px;
}

.blog-article {
	clear: both;
}